body{

	/* background-color: green ;  just normal color */
	background-color:#FFD5A4; /* color in hexidecimals */
	front-family: "Comic Sans MS";
	font-size: 12px;
	color: black;
	border-color: #3C3C42;
	border-style: groove;
	text-align:  center;

}