body{
	font-family: Arial;
	font-size: 12px;
	color: black;
	text-align:  center;
	border-style: ridge;
	border-color: black;
	background-color:  #FFDDC8;
}

.Study
{
	font-family: Arial;
	border-style: solid;
	border-color: black;
}

.Study2
{
	font-family: Arial;
	border-style: groove;
	border-color: black;
}

.Title
{
	font-size: 18px;
	font-weight: bold;
}


.Name
{
	font-size: large;
	font-weight: bolder;
}